version: '3.8'

services:
  sptnr:
    container_name: sptnr
    # Uncomment the next line to use the public Docker image
    # image: krestaino/sptnr:latest
    
    # Uncomment the next line to build the Docker image locally
    # build: .

    # Uncomment the next line to run the script
    # entrypoint: ["python", "sptnr.py"]
    
    # Uncomment the next line to start the web server
    # entrypoint: ["gunicorn", "-b", "0.0.0.0:5000", "web_server:sptnr_web_server"]

    environment:
      - NAV_BASE_URL=your_navidrome_server_url
      - NAV_USER=your_navidrome_username
      - NAV_PASS=your_navidrome_password
      - SPOTIFY_CLIENT_ID=your_spotify_client_id
      - SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
      - WEB_API_KEY=changeme
      - ENABLE_WEB_API_KEY=False
    volumes:
      - ./data:/usr/src/app/data
    ports:
      - "3333:5000"
